header {
	position: absolute;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
}

header h2 {
	font-family: 'Quicksand', sans-serif;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}
